* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
    transition: 0.3s;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

#network,
#backlight,
#custom-alsa,
#clock,
#battery {
    padding: 6px 18px;
    margin: 2px 3px;
    border-radius: 5px;
    background: #1e1e2e;
    opacity: 0.8;
    border: 1px solid #181825;
}

#battery {
    color: #a6e3a1;
}

#battery.charging {
    color: black;
    background: #a6e3a1;
    border: 0px;
}

@keyframes blink {
    to {
        background: yellow;
    }
}

#battery.warning:not(.charging) {
    color: black;
    background: red;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border: 0px;
}
